.authentication__header {
  color: white;
  /*background-color: #36A1D4;*/
  text-align: center;

}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  /*background-color: #fec20f;*/
}

.authentication form {
  margin-bottom: 1rem;
}

/*.loginbutton{
	  background-color: #004830;

}
.emailinput{
	background-color: red;
}*/
.logintext{
	color: #004830;
}
